<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Bus Safety System Car list</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script>
      function m_car_list() {
        location.href = "/m_car_list/";
      }
    </script>
  </head>
  <body class="is-preload" onload="menuload()">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="index.html" class="logo"
              >Bus <strong>Safety</strong> System</a
            >
            <ul class="icons">
              <li>
                <a href="#" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-snapchat-ghost"
                  ><span class="label">Snapchat</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-medium-m"
                  ><span class="label">Medium</span></a
                >
              </li>
            </ul>
          </header>

          <!-- Content -->
          <section id="banner">
            <div class="content">
              <form method="POST" action="/m_add_car">
              <p id="m_add_car_join">
                <h1 id="m_add_car_head">차량 추가</h1>
                  <div class="col-6 col-12-xsmall">
                    <input type="text" name="car_id" id="m_add_car_text" placeholder="차량 번호" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="text" name="car_div" id="m_add_car_text" placeholder="차량 소속" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="text" name="car_type" id="m_add_car_text"  placeholder="차량 종류" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="text" name="car_birth" id="m_add_car_text"  placeholder="차량 연식" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="text" name="car_day" id="m_add_car_text" placeholder="최종 검사일" />
                  </div>
                  <br><br>
                  <div class="col-12">
                    <textarea name="var_result" id="m_add_car_massage" placeholder="기타 사항" rows="10"></textarea>
                  </div>
                  <br><br>
                  <div id="m_add_car_button">
                    <ul class="actions">
                      <li><a class="button" id="m_add_car_button_ft"onclick="m_car_list()">취소</a></li>
                      <li><button
                        type="submit"
                        class="button"
                        id="check_list_button_ft"
                      >
                        저장
                      </button></li>
                    </ul>
                  </div>
              </p>
            </form>
            </div>
          </section>
        </div>
      </div>

      <%- include ("./sidebar.ejs") %>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
