<!DOCTYPE html>
<html>
  <head>
    <title>Bus Safety System manager menu</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="is-preload" onload="menuload();">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="" class="logo"
              >Bus <strong>Safety</strong> System</a
            >
            <ul class="icons">
              <li>
                <a href="#" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-snapchat-ghost"
                  ><span class="label">Snapchat</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-medium-m"
                  ><span class="label">Medium</span></a
                >
              </li>
            </ul>
          </header>

          <!-- Content -->
          <section>
            <header class="main">
              <h1 id="m_select_menu_header">매니저 - 목록</h1>
            </header>
            <div id="m_select_menu_box">
              <ul class="actions fit">
                <li>
                  <a
                    href="/m_car_list"
                    class="button primary fit"
                    id="m_select_menu_button"
                    >차량 목록</a
                  >
                </li>
              </ul>
              <ul class="actions fit">
                <li>
                  <a
                    href="/m_check_list"
                    class="button fit"
                    id="m_select_menu_button"
                    >차량점검 내역</a
                  >
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
      <%- include ("./sidebar.ejs") %>
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
