<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Bus Safety System Sign Up</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="/" class="logo"
              >Bus <strong>Safety</strong> System</a
            >
            <ul class="icons">
              <li>
                <a href="#" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-snapchat-ghost"
                  ><span class="label">Snapchat</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-medium-m"
                  ><span class="label">Medium</span></a
                >
              </li>
            </ul>
          </header>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <p id="join">
                <form method="POST" action="signup">
                <h1 id="signUpHead">회원가입</h1>
                  <div class="col-6 col-12-xsmall">
                  
                    <input type="text" name="id" id="signUpText" value="" placeholder="사원번호" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="text" name="name" id="signUpText" value="" placeholder="이름" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="text" name="division" id="signUpText" value="" placeholder="소속" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="password" name="password" id="signUpText" value="" placeholder="비밀번호" />
                  </div>
                  <br><br>
                  <div class="col-6 col-12-xsmall">
                    <input type="password" name="demo-email" id="signUpText" value="" placeholder="비밀번호 재확인" />
                  </div>
                  <br><br>
                  <ul class="actions" id="signUpButton">
                    <li><button type="submit" class="button big" id="signUpButton">회원가입</button></li>
                  </ul>
                </form>
              </p>
            </div>
          </section>

          <!-- Section -->


          <!-- Section -->
      
        </div>
      </div>

      <!-- Sidebar -->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
